name: build-and-release

on:
  push:
    branches:
      - main
    tags:
      - "*"

permissions:
  contents: write

jobs:
  build-wheel:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install build deps
        run: python -m pip install --upgrade pip setuptools wheel

      - name: Set version for tags
        if: startsWith(github.ref, 'refs/tags/')
        run: echo "PKG_VERSION=${{ github.ref_name }}" >> $GITHUB_ENV

      - name: Build wheel
        run: python setup.py bdist_wheel

      - name: Publish release assets
        uses: ncipollo/release-action@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          artifacts: "dist/*.whl"
          allowUpdates: true
          replacesArtifacts: true
          tag: ${{ github.ref_name }}

      - name: Upload wheel artifact
        uses: actions/upload-artifact@v4
        if: startsWith(github.ref, 'refs/heads/main')
        with:
          name: wheel
          path: dist/*.whl
